.page {
    display:flex;
    flex-direction: row;
    height: 100vh;
}
.heading {
    margin-bottom: 32px;
    padding-bottom: 16px;
    /* border-top: 1px solid rgb(107, 107, 107); */
}
.contentContainer {
    padding: 80px 80px 0 80px;
    margin: 0 auto;
}