.page {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    padding-bottom: 10vh;
}
.contentContainer {
    padding: 6em 3em 0 3em;
    width: 100%;
}
.spacer {
    padding: 2.3em 2em 4em 2em;
    min-width: 14em;
}