.slideshowContainer, .slideshow {
    border-radius: 10px;
}
.slideshowContainer {
    border: 1px solid black;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.25);
    margin-bottom: 80px;
    height: 600px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    position: relative;
}
.slideshow {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.slide {
    height:100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}