.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
}
.loginContainer {
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px var(--boxShadow);
    border-radius: 10px;
    min-height: 425px;
    width: 780px;
}
.loginContainer > * {
    padding: 20px 40px;
    width: 50%;
}
/* login - left side */
.login {
    border-radius: 10px 0 0 10px;
    background-color: var(--primary);
}
.header p.bodyText {
    margin-top: -20px;
}
.forgotPasswordContainer > p {
    text-align: left;
}
.loginButtonContainer {
    text-align: right;
}
/* visitor - right side */
.visitor {
    padding-top: 8%;
}
.visitorButtonContainer {
    text-align: center;
    padding: 15px 0;
}