:root {
    --background: #F7F7F7;
    --primary: #51A46A;
    --secondary: #2D443D;
    --accent: #FCCD6C;
    --shadow: #D9D9D9;
    --text: #FFFFFF;
    --textDark : #2C2C2C;
    --darkGreen: #2D443D;
    --white: #FFFFFF,
    --boxShadow:rgb(0, 0, 0, 0.25);
  }