.headerTitle {
    font-weight: bold;
    text-transform: capitalize;
    padding: 24px 0;
}
/* refactor bottom code - do we still need this if we implement mui typography? */
.bodyText {
    font: normal normal normal 0.85em Arial, sans-serif;
    text-transform: lowercase;
    color: var(--textDark);
}
.bodyText::first-letter {
    text-transform: uppercase;
}
.subtitle {
    color: var(--textDark);
    font-size: 0.8em;
}