.formContainer {
    border: 1px solid black;
    padding: 8px 16px;
    min-height: 600px;
    width: 800px;
    position: relative;
}
.formPage {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.labelInput > * {
    margin: 8px;
}
.radioButtonsContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
#formPage3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 
.paginationContainer {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}