.formContainer {
    border: 1px solid black;
    padding: 8px 16px;
    min-height: 600px;
    width: 800px;
    position: relative;
}
.labelInput > * {
    margin: 8px;
}
.formPageButton {
    min-height: 320px;
    width: 50%;
}
.pageButtonContainer {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}