.calendarOptions{
    margin-top: 1em;
    margin-bottom: 10em;
}

.topOptions{
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottomOptions{
    padding-top: 20px;
    padding-bottom: 20px;
}

html{
    margin: 0; 
    height: 100%; 
    overflow: hidden
}